@font-face {
  font-family: "iconfont"; /* Project id 5215495 */
  src: url('iconfont.woff2?t=1784885395925') format('woff2'),
       url('iconfont.woff?t=1784885395925') format('woff'),
       url('iconfont.ttf?t=1784885395925') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renzhengshibai:before {
  content: "\e62d";
}

.icon-renzhengshibai1:before {
  content: "\e60d";
}

.icon-shenghuozhaoliao:before {
  content: "\e601";
}

.icon-shenghuozhao:before {
  content: "\e750";
}

.icon-shangchuantouxiang:before {
  content: "\e73e";
}

.icon-shangchuantouxiang1:before {
  content: "\e60a";
}

.icon-weixindenglu:before {
  content: "\e638";
}

.icon-denglu_shoujihaodenglu_shoujihao:before {
  content: "\e691";
}

.icon-xuelirenzheng:before {
  content: "\e66d";
}

.icon-xuelirenzheng1:before {
  content: "\e681";
}

.icon-renzhengchenggong:before {
  content: "\e600";
}

.icon-zhuanjifenshimingrenzheng:before {
  content: "\e68a";
}

.icon-shimingrenzheng:before {
  content: "\e605";
}

.icon-shimingrenzheng1:before {
  content: "\e619";
}

