@font-face {
  font-family: "iconfont"; /* Project id 5215500 */
  src: url('iconfont.woff2?t=1784885485397') format('woff2'),
       url('iconfont.woff?t=1784885485397') format('woff'),
       url('iconfont.ttf?t=1784885485397') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gepingtailogo-04:before {
  content: "\e600";
}

.icon-renwuzhongxin:before {
  content: "\e69f";
}

.icon-jinbi:before {
  content: "\e64a";
}

.icon-jinbi1:before {
  content: "\e66a";
}

.icon-qianbao:before {
  content: "\e625";
}

.icon-huiyuan:before {
  content: "\e65d";
}

.icon-huiyuanquanyi:before {
  content: "\e739";
}

.icon-huiyuanfuwu:before {
  content: "\e674";
}

.icon-huiyuan1:before {
  content: "\e62f";
}

.icon-zunxiang:before {
  content: "\10110";
}

.icon-baodeng:before {
  content: "\e60e";
}

.icon-baodeng1:before {
  content: "\e611";
}

